<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}"></head>
<body>
    <header th:replace="~{fragments :: header}"></header>
    <main class="main">
        <side-nav th:replace="~{fragments :: side-nav}"></side-nav>
        <div class="main-container">
            <div class="row d-flex py-4">
                <h1 class="font-weight-bold text-center" >Patients List</h1>
            </div>
            <div class="section-white-container">
                <div class="row d-flex justify-content-end">
                    <a class="btn mb-2" href="/patients/create">Add Patient</a>
                </div>
                <div class="row">
                    <h3 th:unless="${patients} and ${patients.size()}">There are no registered patients!</h3>
                    <table th:if="${patients.size()>0}" class="table table-hover">
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Username</th>
                        <th>Birth Date</th>
                        <th>Gender</th>
                        <th>SSN</th>
                        <th>Valid Insurance</th>
                        <th>GP</th>
                        <th>Diagnoses</th>
                        <th>Actions</th>
                        <tr th:each="patient : ${patients}">
                            <td th:text="${patient.firstName}"></td>
                            <td th:text="${patient.lastName}"></td>
                            <td th:text="${patient.username}"></td>
                            <td th:text="${patient.birthDate}"></td>
                            <td th:text="${patient.gender}"></td>
                            <td th:text="${patient.ssn}"></td>
                            <td th:text="${patient.hasInsurance}"></td>
                            <td><a
                                    th:if="${patient?.physicianId != null}"
                                    th:href="@{'/physicians/'+${patient.physicianId}}"
                                    th:text="${patient.physicianFullName}"></td>
                            <td><a th:href="@{'/patients/'+${patient.id} + '/diagnoses'}">Diagnoses</a></td>
                            <td>
                                <!-- Edit button with edit icon -->
                                <a th:href="@{'/patients/edit-patient/'+${patient.id}}">
                                    <i class="fas fa-edit" style="font-weight: 400;"></i>
                                </a>
                                
                                <!-- Delete button with delete icon -->
                                <a th:href="@{'/patients/delete/'+${patient.id}}">
                                    <i class="fas fa-trash-alt" style="font-weight: 400;"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
</html>