<div th:fragment="content">
    <div class="row d-flex w-100 justify-content-between py-4">
        <h1 class="font-weight-bold text-center" >View Patient</h1>
        <a th:href="@{'/patients/edit-patient/'+${patient.id}}">
            <i class="fas fa-edit" style="font-weight: 400;"></i>
        </a>
    </div>
    <div class="section-white-container">
        <form class="w-100 d-flex flex-column" style="gap: 1rem;" th:object="${patient}">
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="username">Username:</label>
                    <input type="text" readonly class="form-control" id="username" th:field="${patient.username}" name="username"
                            placeholder="Username">
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                </div>

                <div class="col form-group">
                    <label for="ssn">SSN:</label>
                    <input type="text" readonly class="form-control" id="ssn" th:field="${patient.ssn}" name="ssn" placeholder="Social Security Number"/>
                </div>

                <div class="col form-group">
                    <label for="birthDate">Birth Date:</label>
                    <input type="date" class="form-control" readonly id="birthDate" th:value="${patient.birthDate}" name="birthDate"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date Error</span>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" readonly class="form-control" id="firstName" th:field="${patient.firstName}" name="firstName"
                            placeholder="First Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                </div>

                <div class="col form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" readonly class="form-control" id="lastName" th:field="${patient.lastName}" name="lastName"
                            placeholder="Last Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                </div>

                <div class="col form-group">
                    <label for="gp">General Practitioner:</label>
                    <input type="text" readonly class="form-control" id="gp" th:field="${patient.physicianFullName}" name="physicianFullName" placeholder="General Practitioner Name"/>
                </div>

            </div>
            <div class="row d-flex">
                
                <div class="col-4 form-group">
                    <label>Gender:</label>
                    <div class="form-check">
                        <input type="radio" disabled id="male" th:field="${patient.gender}" name="gender" value="Male"/>
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" disabled id="female" th:field="${patient.gender}" name="gender" value="Female"/>
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>

                <div class="col-4 form-group">
                    <label>Paid Insurance:</label>
                    <div class="form-check">
                        <input type="radio" disabled id="true" th:field="${patient.hasInsurance}" name="hasInsurance" value="True"/>
                        <label class="form-check-label" for="true">True</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" disabled id="false" th:field="${patient.hasInsurance}" name="hasInsurance" value="False"/>
                        <label class="form-check-label" for="false">False</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>