body {
    font-family: 'AvenirNextLTPro-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    background: whitesmoke ;
    height: 100vh;
    overflow: hidden;
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
}

main {
    position: absolute;
    top: 87px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.emr-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-image {
    background-image: url(../images/emr-background.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.5; /* Adjust the opacity value as needed */
}

.content-container {
    position: relative;
    z-index: 1; /* Ensure content appears above the background image */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #385399;
    color: white;
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page {
    background-color: #385399;
    height: 100%;

}

.login-button {
    background-color: #385399 !important;
    color: #f9f9f9 !important;
    border: 1px solid #385399;
    width: 100%;
}

.login-page-title {
    font-weight: 800;
    color: #385399;
}

.login-form-container {
    width: 40%;
    border: 2px solid #ccc; /* Border color and width */
    border-radius: 30px; /* Border radius for rounded corners */
    padding: 30px; /* Padding inside the form container */
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.section-white-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.sidenav {
    /*height: 100%; !* Full-height: remove this if you want "auto" height *!*/
    /*position: fixed; !* Fixed Sidebar (stay in place on scroll) *!*/
    /*z-index: 1; !* Stay on top *!*/
    /*top: 88px; !* Stay at the top, under header*!*/
    /*left: 0;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 300px;*/
    background-color: #385399 !important;
    opacity: 85%;
    padding: 1rem;
    width: 15rem;
    /*overflow-x: hidden; !* Disable horizontal scroll *!*/
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 50px;
}

/* The navigation menu links */
.sidenav a {
    padding: 20px 15px 7px 30px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    /* color: #cccccc; */
    font-weight: 700;
}

/* Style page content */
/*.main {*/
/*    margin-left: 160px; !* Same as the width of the sidebar *!*/
/*    padding: 0px 10px;*/
/*}*/

.center-text{
    text-align: center;
}

.btn {
    background-color: 	#8e1015;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    color: white;
}

.btn:hover {
    background-color: 	#8e1015;
    color: white;
    opacity: 85%;
}

.forgot-password{
    color: #385399;
    font-size: 14px;
    cursor: pointer;
}

btn a {
    color: white;
}

a {
    color: black;
    text-decoration: none;

}

.logout-btn {
    color: white;
}

.logout-btn:hover {
    color: white;
    opacity: 85%;
    font-weight: 800;
    text-decoration: none;
}

/* btn a:hover{
    color:  #8e1015;
    opacity: 85%;
    font-weight: 700;
    text-decoration: none;
} */

.underline{
    text-decoration: underline;
}

.outline-none {
    outline: none;
}

.background-primary {
    background-color: #007BFF;
}

.background-secondary {
    background-color: #28A745;
}

.backround-accent {
    background-color: #FFC107
}

.primary-color {
    color: #007BFF;
}

.secondary-color {
    color: #28A745;
}

.accent-color {
    color: #FFC107
}

.pagination-container {
    display: flex;
    gap: 4rem;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination li a {
    color: #333;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.pagination li.disabled a {
    pointer-events: none;
    color: #ccc;
}

.selected-page {
    color: #8e1015 !important; /* Change to the desired text color */
}

/* Pagination dropdown */
.dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu li {
    display: block;
  }
  
  .dropdown-menu li a {
    color: #333;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .unauthorized-image {
    background-image: url(../images/error_404.jpg);
    height: 300px;
    width: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 1rem;

}