<div th:fragment="content">
    <div class="row d-flex py-4">
        <h1 class="font-weight-bold text-center">Physicians List</h1>
    </div>
    <div class="section-white-container">
        <div class="row d-flex justify-content-end">
            <a class="btn mb-2" href="/physicians/create">Add Physician</a>
        </div>
        <div class="row">
            <h3 th:unless="${physicians} and ${physicians.size()}">There are no registered physicians!</h3>
            <table th:if="${physicians.size()>0}" class="table table-hover">
                <th:block th:each="column :  ${columnsEnum}">
                    <th>
                        <a th:href="@{'/physicians?page=' + ${currentPage} + '&size=' + ${size} + '&sortField=' + ${column} + '&sortDirection=' + ${sortField.toString() == column.toString() && sortDirection == 'asc' ? 'desc' : 'asc'}}">
                            <span th:text="${column.columnDiplayValue}"></span>
                            <i th:class="${sortField.toString() == column.toString() ? (sortDirection == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></i>
                        </a>
                    </th>
                </th:block>
                <th>Actions</th>
                <tr th:each="ph : ${physicians}">
                    <td th:text="${ph.getFullname()}"></td>
                    <td th:text="${ph.username}"></td>
                    <td th:text="${ph.medicalLicenseNumber}"></td>
                    <td th:text="${ph.ssn}"></td>
                    <td th:text="${ph.birthDate}"></td>
                    <td th:text="${ph.gender}"></td>
                    <td th:text="${ph.isGP}"></td>
                    <td th:text="${ph.patientsCount}"></td>
                    <td>
                        <!-- View button with view icon -->
                        <a th:href="@{'/physicians/'+${ph.id}}">
                            <i class="fas fa-eye" style="font-weight: 400;"></i>
                        </a>
                        <!-- Edit button with edit icon -->
                        <a th:href="@{'/physicians/update/'+${ph.id}}">
                            <i class="fas fa-edit" style="font-weight: 400;"></i>
                        </a>

                        <!-- Delete button with delete icon -->
                        <a th:href="@{'/physicians/delete/'+${ph.id}}">
                            <i class="fas fa-trash-alt" style="font-weight: 400;"></i>
                        </a>
                    </td>
                </tr>
            </table>
            <!-- Pagination controls -->
            <div class="pagination-container">
                <div class="pagination-container">
                    <div>
                        <ul class="pagination">
                            <li th:class="${currentPage == 0} ? 'disabled'">
                                <a th:href="@{'/physicians?page=0&size=' + ${size}}"><i class="fas fa-angle-double-left"></i></a>
                            </li>
                            <li th:with="prevPage=${currentPage - 1}" th:class="${currentPage == 0} ? 'disabled'">
                                <a th:href="@{|'/physicians?page=' + ${prevPage >= 0 ? prevPage : 0} + '&size=' + ${size}|}">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            </li>
                            <li th:each="pageNumber : ${pageNumbers}">
                                <a th:href="@{'/physicians?page=' + ${pageNumber} + '&size=' + ${size}}"
                                    th:class="${pageNumber == currentPage} ? 'selected-page' : ''"
                                    th:text="${pageNumber + 1}"></a>
                            </li>
                            <li th:with="nextPage=${currentPage + 1}" th:class="${currentPage == totalPages - 1} ? 'disabled'">
                                <a th:href="@{|'/physicians?page=' + ${nextPage} + '&size=' + ${size}|}">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                            </li>
                            <li th:class="${currentPage == totalPages - 1} ? 'disabled'">
                                <a th:href="@{|'/physicians?page=' + (${totalPages - 1}) + '&size=' + ${size}|}">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <div class="dropdown-toggle" data-toggle="dropdown">Page Size: <span th:text="${size}"></span></div>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{'/physicians?page=' + ${currentPage} + '&size=5'}">5</a></li>
                            <li><a th:href="@{'/physicians?page=' + ${currentPage} + '&size=10'}">10</a></li>
                            <li><a th:href="@{'/physicians?page=' + ${currentPage} + '&size=20'}">20</a></li>
                        </ul>
                    </div>
            </div> 
        </div>
    </div>
</div>