<div th:fragment="content">
    <div class="row d-flex py-4">
        <h1 class="font-weight-bold text-center" >Create Physician</h1>
    </div>
    <div class="section-white-container">
        <form class="w-100 d-flex flex-column" style="gap: 1rem;" action="#"  th:action="@{/physicians/create}" th:object="${physician}" method="post">
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="username">Email:</label>
                    <input type="text" class="form-control" id="username" th:field="${physician.username}" name="username"
                            placeholder="Email">
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                </div>

                <div class="col form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" th:field="${physician.password}" name="password"
                            placeholder="Password">
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                </div>

                <div class="col form-group">
                    <label for="ssn">SSN:</label>
                    <input type="text" class="form-control" id="ssn" th:field="${physician.ssn}" name="ssn" placeholder="Social Security Number"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}">SSN Error</span>
                </div>

            </div>
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" class="form-control" id="firstName" th:field="${physician.firstName}" name="firstName"
                            placeholder="First Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                </div>

                <div class="col form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" class="form-control" id="lastName" th:field="${physician.lastName}" name="lastName"
                            placeholder="Last Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                </div>

                <div class="col form-group">
                    <label for="medicalLicenseNumber">Medical License Number:</label>
                    <input type="text" class="form-control" id="medicalLicenseNumber" th:field="${physician.medicalLicenseNumber}" name="medicalLicenseNumber"
                            placeholder="Medical License Number">
                    <span class="text-danger" th:if="${#fields.hasErrors('medicalLicenseNumber')}" th:errors="*{medicalLicenseNumber}">Medical License Number Error</span>
                </div>


            </div>
            <div class="row d-flex">

                <div class="col form-group">
                    <label for="birthDate">Birth Date:</label>
                    <input type="date" class="form-control" id="birthDate" th:field="${physician.birthDate}" name="birthDate"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date Error</span>
                </div>
                <div class="col">
                    <label for="specialties">Specialties</label>
                    <div class="form-group mt-1" style="height: 120px; overflow: auto; width: 100%;">
                        <div th:each="specialty : ${specialities}" class="form-check">
                            <input type="checkbox" th:id="${'specialty-' + specialty}" th:name="specialties" th:value="${specialty}" th:checked="${physician.specialties != null and physician.specialties.contains(specialty)}">
                            <label class="form-check-label" style="padding-left: 0.5rem;" th:for="${'specialty-' + specialty}" th:text="${specialty.displayName}"></label>
                        </div>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('specialties')}" th:errors="*{specialties}">Specialties Error</span>
                </div>
                
                <div class="col form-group">
                    <label>Gender:</label>
                    <div class="form-check">
                        <input type="radio" id="male" th:field="${physician.gender}" name="gender" value="Male"/>
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="female" th:field="${physician.gender}" name="gender" value="Female"/>
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Gender Error</span>
                </div>
            </div>
            <button type="submit" class="btn w-25">Save</button>
        </form>
    </div>
</div>