<div th:fragment="content">
    <div class="row d-flex w-100 justify-content-between py-4">
        <h1 class="font-weight-bold text-center" >View Physician</h1>
        <a th:href="@{'/physicians/update/'+${physician.id}}" sec:authorize="hasAuthority('WRITE_PHYSICIAN')"></a>
            <i class="fas fa-edit" style="font-weight: 400;"></i>
        </a>
    </div>
    <div class="section-white-container">
        <form class="w-100 d-flex flex-column" style="gap: 1rem;" th:object="${physician}">
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="username">Username:</label>
                    <input type="text" readonly class="form-control" id="username" th:field="${physician.username}" name="username"
                            placeholder="Username">
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</span>
                </div>

                <div class="col form-group">
                    <label for="ssn">SSN:</label>
                    <input type="text" readonly class="form-control" id="ssn" th:field="${physician.ssn}" name="ssn" placeholder="Social Security Number"/>
                </div>

                <div class="col form-group">
                    <label for="birthDate">Birth Date:</label>
                    <input type="date" class="form-control" readonly id="birthDate" th:value="${physician.birthDate}" name="birthDate"/>
                    <span class="text-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">Birth Date Error</span>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" readonly class="form-control" id="firstName" th:field="${physician.firstName}" name="firstName"
                            placeholder="First Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                </div>

                <div class="col form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" readonly class="form-control" id="lastName" th:field="${physician.lastName}" name="lastName"
                            placeholder="Last Name">
                    <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                </div>

                <div class="col-4 form-group">
                    <label>Gender:</label>
                    <div class="form-check">
                        <input type="radio" id="male" th:field="${physician.gender}" name="gender" value="Male" disabled/>
                        <label class="form-check-label" for="male">Male</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" id="female" th:field="${physician.gender}" name="gender" value="Female" disabled/>
                        <label class="form-check-label" for="female">Female</label>
                    </div>
                </div>
            </div>

            <div class="row d-flex">
                <div class="col form-group">
                    <label for="specialties">Specialties:</label>
                    <input type="text" readonly class="form-control" id="specialties" name="specialties"
                        placeholder="Specialties" th:value="${#strings.listJoin(physician.specialties.![displayName], ', ')}">
                </div>
                

                <div class="col form-group">
                    <label for="medicalLicenseNumber">Medical License Number:</label>
                    <input type="text" readonly class="form-control" id="medicalLicenseNumber" th:field="${physician.medicalLicenseNumber}" name="medicalLicenseNumber" placeholder="Medical License Number"/>
                </div>

            </div>
        </form>
    </div>
</div>