<div th:fragment="content">
    <div class="row d-flex py-4">
        <h1 class="font-weight-bold text-center" >Diagnoses List</h1>
    </div>
    <div class="section-white-container">
        <div class="row d-flex justify-content-end">
            <a class="btn mb-2" href="/diagnosis/create">Add Diagnosis</a>
        </div>
        <div class="row">
            <h3 th:unless="${diagnoses} and ${diagnoses.size()}">There are no registered Diagnoses!</h3>
            <table th:if="${diagnoses.size()>0}" class="table table-hover">
                <th:block th:each="column :  ${columnsEnum}">
                    <th>
                        <a th:href="@{'/diagnosis?page=' + ${page.getNumber()} + '&size=' + ${page.getSize()} + '&sortField=' + ${column.getColumnName()} + '&sortDirection=' + ${sortField.toString() == column.getColumnName() && sortDirection == 'asc' ? 'desc' : 'asc'}}">
                            <span th:text="${column.columnDisplayValue}"></span>
                            <i th:class="${sortField.toString() == column.toString() ? (sortDirection == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down') : 'fas fa-sort'}"></i>
                        </a>
                    </th>
                </th:block>
                <th>Patients</th>
                <th>Actions</th>
                <tr th:each="d : ${diagnoses}" th:onclick="@{'/diagnosis/'+${d.id}}">
                    <td th:text="${d.code}"></td>
                    <td th:text="${d.name}"></td>
                    <td th:text="${d.description}"></td>
                    <td th:text="${d.category}"></td>
                    <td>
                        <a
                                th:href="@{'/patients/diagnose/'+${d.id}}"
                                th:text="${d.patientsCount}">
                        </a>
                    </td>
                    <td>
                        <!-- View button with view icon -->
                        <a th:href="@{'/diagnosis/'+${d.id}}">
                            <i class="fas fa-eye" style="font-weight: 400;"></i>
                        </a>
                        <!-- Edit button with edit icon -->
                        <a th:href="@{'/diagnosis/update/'+${d.id}}">
                            <i class="fas fa-edit" style="font-weight: 400;"></i>
                        </a>
                        
                        <!-- Delete button with delete icon -->
                        <a th:href="@{'/diagnosis/delete/'+${d.id}}">
                            <i class="fas fa-trash-alt" style="font-weight: 400;"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <!-- Pagination controls -->
        <div class="pagination-container">
            <ul class="pagination">
                <li th:class="${page.isFirst()} ? 'disabled' : ''">
                    <a th:href="@{/diagnosis(page=0, size=${page.getSize()}, sortField=${sortField}, sortDirection=${sortDirection})}"><i class="fas fa-angle-double-left"></i></a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, page.getTotalPages() - 1)}" th:class="${i == page.getNumber()} ? 'active' : ''">
                    <a th:href="@{/diagnosis(page=${i}, size=${page.getSize()}, sortField=${sortField}, sortDirection=${sortDirection})}" th:text="${i + 1}">1</a>
                </li>
                <li th:class="${page.isLast()} ? 'disabled' : ''">
                    <a th:href="@{/diagnosis(page=${page.getTotalPages() - 1}, size=${page.getSize()}, sortField=${sortField}, sortDirection=${sortDirection})}"><i class="fas fa-angle-double-right"></i></a>
                </li>
            </ul>
            <div class="dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">Page Size: <span th:text="${size}"></span></div>
                <ul class="dropdown-menu">
                    <li><a th:href="@{'/diagnosis?page=' + ${page.getNumber()} + '&size=5' + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">5</a></li>
                    <li><a th:href="@{'/diagnosis?page=' + ${page.getNumber()} + '&size=10' + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">10</a></li>
                    <li><a th:href="@{'/diagnosis?page=' + ${page.getNumber()} + '&size=20' + '&sortField=' + ${sortField} + '&sortDirection=' + ${sortDirection}}">20</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>